run = "cd backend && pip install -r requirements.txt && python3 app.py"
entrypoint = "backend/app.py"
modules = ["python-3.11"]

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "cd backend && pip install -r requirements.txt && python3 app.py"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 5001
externalPort = 80
